body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: row;
  margin: 50px;
}
.left-column {
  width: 25%;
  height: 100vh;
  padding: 20px;
  padding-top: 30px;
  box-sizing: border-box;
}
.right-column {
  width: 75%;
  height: 100vh;
  padding: 30px;
}
.card {
  width: 30%;
  height: 300px;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.card-description {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}
.filter-section {
  margin-bottom: 20px;
}
.filter-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.filter-checkbox {
  margin-right: 10px;
}

/* filter */

li a {text-decoration : none; color : #2d2f31;}

#touch:checked + .slide{
    height: 130px !important;
}
#touch1:checked + .slide {
    height: 170px !important;
}
#touch2:checked + .slide {
  height: 50px !important;
}
#touch3:checked + .slide {
  height: 180px !important;
}

.filterby {
  width : 100%; 
}

.inline{
  display: inline;
}

.scnd{
  float: right;
  color: #FD7133;
}

hr{
  margin-top: 10px;
  
}

.dates input, .dates p{
  color: #858585;
  text-align: left;
}

.dates input{
  padding: 3px;
  border: #a5a5a5 1px solid;
}

.dates p{
  color: #FD7133;
  font-weight: 500;
  margin-bottom: 10px;
}

.filtertop{
  padding-bottom: 20px;
  font-size : 15px;
}

.filter_title {
  padding-left : 0px;
  padding-right: 30px;
  padding-top : 5px;
  padding-bottom : 5px;
  color : black;
  font-size : 15px;
  cursor : pointer;
  display: block;
  border-bottom: 1px;
}

ul{
  padding-left: 17px;
  font-size: small;
}

.slide {
  clear:both;
  height:0px;
  overflow: hidden;
  transition: height .4s ease;
  padding-left: 0px;
}

.slide span{
  padding-left: 5px;
  font-weight: normal;
  font-size: 12px;
  color:  #858585;
}

li{
  list-style-type: none
}

.slide li {padding : 10px;}

#touch {position: absolute; opacity: 0; height: 0px;}    

#touch:checked + .slide {height: 300px;} 

#touch1 {position: absolute; opacity: 0; height: 0px;}    

#touch1:checked + .slide {height: 300px;}

#touch2 {position: absolute; opacity: 0; height: 0px;}    

#touch2:checked + .slide {height: 80px !important;} 

#touch3 {position: absolute; opacity: 0; height: 0px;}    

#touch3:checked + .slide {height: 300px;} 

.hi{
  /* height and width fit card */
  height: 50%;
  width: 100%;
}

.card-title{
  margin-top: 10px;
  font-size: 15px;
}

.card:hover{
  /* enlarge with border */
  transform: scale(1.05);
  border: 3px solid #FD7133 !important;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.card{
  transition: 0.8s;
  border-radius: 10px;
  margin-bottom: 30px !important;
  border: none !important;
}

.card-description{
  font-size: 11px;
}

.card-description p{
  padding-top: 8px;
  margin-bottom: 0px;
}

.cards{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.found_header{
  padding-left: 22px;
  padding-bottom: 10px;
}

/* navbar */
.navbar{
  padding: 15px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.nav-item{
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.dropdown-item{
  font-size: 12px;
}

.navbar_brand{
  width: 85px;
  margin-right: 30px;
  margin-bottom: 5px;
  
}

/* pdp */
.pdp{
  margin: 50px;
}

.pdp img{
  width: 100%;
  height: -webkit-fill-available;
}

.pricing{
  padding-top: 20px;
  padding-bottom: 20px;
  border: #2d2f31 1px solid;
  height: 100%;
  margin-left: 25px;
}

.pdp_title, .pdp_client, .pdp_who{
  text-align: center;
}

.pdp_who{
  padding-top: 100px;

}

.pdp_who_details{
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 12px;
}

.pdp_title{
  padding-top: 5px;
  padding-bottom: 20px;
}

.pdp_client_logo{
  /* make logo smaller */
  width: 35px !important;
  text-align: center;
}

.pdp_client{
  display: inline;
  padding-left: 10px;
  padding-top: 10px;
}

.pdp_c{
  /* make items in div center */
  display: flex;
  justify-content: center;
}

.pricing_date p{
  margin-bottom: 3px !important;
}

.pricing_date ul,.pricing_first, .pricing_third{
  padding-right: 20px;
  padding-left: 20px;
}

.pricing_first{
  padding-bottom:10px
}

.pricing_third button{
  width: 100%;
}

ul .btn{
  background-color: #FD7133 !important;
  border: none !important;
  color: white !important;
  border-radius: 5px !important;
  font-size: 12px;
}

.pricing_third .btn{
  margin-bottom: 10px;
  font-size: 13px;
}

.ppp{
  font-size: 15px;
}

.ppp_big{
  font-size: 20px;
}

.per{
  margin-bottom: 5px;
  font-size: 13px;
}

.ppp_head, .ppp_btn p, .ppp_btn button{
  /* float to end */
  float: right;
}

.sus_img img{
  width: 20%;
  height: -webkit-fill-available;
  padding-left: 50px; 
  padding-right: 50px;

}

.sus_img{
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 20px;
}

/* Home Page */
.home_image{
  display: flex;
  position: relative;
  justify-content: center;
}

.home_client_logo{
  position: relative;
  height: 600;
  opacity: 0.5;
}

.home_text{
  position: absolute;
  font-size: 40px;
  font-weight: 600;
  margin-top: 230px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #FD7133; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  
  animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 48% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #FD7133; }
}

.home_fme{
  position: absolute;
  font-size: 50px;
  margin-top: 280px;
}

.fme_button{
  background-color: #FD7133;
  border: none;
  color: white;
  border-radius: 10px;

  font-size: 15px;

  padding: 5px 55px 5px 55px;
}

.partner_text{
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.partner_text h2, .use_case_text h2, .customer_journey h2{
  font-size: 22px;
  padding-bottom: 30px;
}

.partner_showcase{
  justify-content: center;
  text-align: center;
}

.home_partner_logo{
  width: 70px;
}

.home_partner_text{
  display: inline;
  margin-left: 10px;
}

.use_case_text{
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.use_case_showcase{
  justify-content: center;
}

.use_case_link{
  text-decoration: none;
}

.use_case{
  text-align: center;
  justify-content:center;
  border-radius: 15px; 
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 15px;
  transition: 0.4s;
  /* border: none !important; */
}


.use_case_title{
  font-weight: 600;
  color: black;
  font-size: 17px;
  /* center text vertically */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;

}

.use_case_images{
  margin-top: 30px !important;
  margin-bottom: 30px;
}

.use_case_description{
  color: black;
  font-size: 13px;
}

.use_case:hover{
  border: 2px solid #FD7133 !important;
  transform: scale(1.05);
}

.blob{
  opacity: 0.5;
}

.burger{
  height: 600px;
  padding-left: 150px;
}

.customer_journey_image{
  /* center image */
  padding-left: 150px ;
  margin-bottom: 200px;
  height: 500px;
}

/* slider */
.slider_container{
  position: relative;
  padding-top: 20px;
  margin-left: 15px;
}

.slider {
  position: relative;
  width: 235px;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #ced4da;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #FD7133;
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: #858585;
  font-size: 12px;
  margin-top: 20px;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: -4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 235px;
  outline: none;
}

.thumb--left {
  z-index: 3;
}

.thumb--right {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* Checkout Page */
.checkout_back_button{
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.arrow_back{
  display: inline-block;
  font-size: 50px;
  margin-left: 50px;
  font-weight: 200;
}

.checkout{
  padding: 50px;
  padding-top: 10px;
}

.back_text{
  display: inline-block;
  font-size: 15px;
  margin-left: 10px;
  margin-top: 13px;
  margin-bottom: 5px;
  font-weight: 500;
}

.checkout_details{
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 60px;
}

.checkout_details_header{
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  align-items: center;
  margin-top: 15px;
}

.checkout_details_text{
  font-size: 15px;
  margin-top: 15px;
  margin-left: 15px;
  font-weight: 500;
}

.experience_detail_table{
  margin-left: 25px;
  margin-top: 15px;
  width: 300px;
}

.experience_cover_image{
  width: 100%;
  height: 120px;
}

.experience_title{
  text-decoration: none;
  margin-left: 10px;
  width: 100%;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 10px;
}

.detail_alignment{
  padding-left: 20px;
  font-size: 13px;
}

.hr_checkout{
  width: 95%;
  margin: auto;
  margin-top: 15px;
}

.checkout_price_text{
  font-size: 15px;
  margin-top: 15px;
  margin-left: 15px;
  font-weight: 500;
}

.price_table{
  margin-left: 25px;
  margin-top: 15px;
  width: 100%;
}

.price_amount{
  width: 50%;
}

.participant_count{
  text-align: right;
  width: 50%;
}

.leftside p{
  padding-left: 15px;
}

.rightside p{
  text-align: right;
  padding-right: 15px;
}

.co_options{
  margin-left: 25px;
  padding-top: 30px;
  width: 100%;
  font-size: 15px;
}

.r1 {
  margin-bottom: 15px;
}

.r1 span,.r2 span{
  margin-left: 5px;
}

.co_tc{
  padding-left: 15px;
  font-size: 12px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.co_tc p{
  margin-bottom: 8px;
}

.cobold{
  font-weight: 700;
}

.cobold p{
  margin-bottom: 0px;
  margin-top: 15px;
}

.co_price p{
  margin-bottom: 0px;
  margin-top: 15px;
  font-size: 13px;
}

.co_first{
  margin-top: 15px !important;
}

.co_price_head{
  font-weight: 700;
}

.checkout_form{
  margin-left: 25px;
  margin-right: 25px;
}

.checkout_form label{
  font-size: 13px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 10px;
}

.checkout_form input{
  font-size: 13px;
}

.carddeets2{
  margin-top: 10px;
}

.checkout_form_header img{
  height: 20px;
  float: right;
  margin-left: 10px;
}

.checkout_form_header{
  font-size: 15px;
  font-weight: 600;
}

.pay_btn{
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
  background-color: #FD7133 !important;
  color: white !important;
}

/* Confirmation page */
.confirmation{
  text-align: center;
}

.confirmation img{
  width: 100px;
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Questionnaire */
.questionnaire{
  height: 450px;
  transition: 0.4s;
  margin: 0px;
}

.popup-content{
  width:850px !important;
}

.questionnaire_usecase{
  padding-left: 40px;
  /* horizontally center */
  margin: 0 auto;
  /* vertically center */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.questionnaire_usecase img{
  margin-top: 20px !important;
}

.questionnaire img{
  width: 80px !important;
  height: 60px !important;
  margin-bottom: 0px !important;
}

.questionnaire .use_case_showcase h5{
  font-size: 12px !important;
  padding-top: 0px !important;
}

.q1details{
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  margin-left: 30px;
}

.q1 h4{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 20px;
}

.q1 img{
  width: 30px !important;
  height: 30px !important;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

.q1 p{
  font-size: 15px;
  padding-top: 10px;
}

.letsgo_btn{
  margin-top: 20px;
  font-size: 13px !important;
  background-color: #FD7133 !important;
  color: white !important;
  /* center button */
  position: relative;
  left: 40%;
}

.onlyamin{
  text-align: center;
  font-size: 11px !important;
}

.questionnaire1{
  height: 450px;
  transition: 0.4s;
  margin: 0px !important;
  padding: 0px !important;
}

.qnimg{
  height: -webkit-fill-available !important;
  width: 250px !important;
  /* fill entire div */
  object-fit: cover !important;
  /* scale image to fill div */
  object-position: right !important;
  /* center the image within the div */
  margin: 0px !important;
  padding: 0px !important;
}

.popup-content{
  padding: 0px !important;
}

.questionnaire1 h4{
  text-align: center;
  padding-top: 20px;
  font-weight: 600;
}

.qnback, .qnclose{
  cursor: pointer;
  transition: 0.3s;
  font-size: 30px;
  color: black;
  background-color: white;
  border: none;
}

.qnclosediv{
  text-align: end;
}

.qnbuttons{
  /* make items center */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
}

.btn-circle.btn-xl {
  width: 120px;
  height: 120px;
  padding: 13px 18px;
  border-radius: 60px;
  margin-right: 8px;
  margin-left: 8px;
  font-size: 15px;
  text-align: center;
  border: #FD7133 3px solid;
}

.qnnext{
  color: grey;
  text-align: center;
  font-size: 12px;
}